:root {
  --nav-links-color: #888;
  --nav-links--hover-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;

}

nav .links-container a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--nav-links-color);
  margin: 0 9px;
}

nav .links-container a:hover {
  color: var(--nav-links-hover-color);
}

nav #hamburger_button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: none;
  padding: 13px 5px;
  cursor: pointer;
}

nav #hamburger_button span {
  width: 30px;
  height: 4px;
  background-color: black;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

aside.mobile-menu {
  width: 50vw;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 90px;
  background-color: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

aside.mobile-menu .mobile-menu-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;

}

aside.mobile-menu .mobile-menu-links a {
  padding: 20px 20px;
  text-decoration: none;
  color: #000000;
}

nav #hamburger_button .hamburger-top {
  transform: translateY(-7px);
}

nav #hamburger_button .hamburger-bottom {
  transform: translateY(7px);
}

@media screen and (max-width:600px) {
  nav .links-container {
    display: none;
  }

  nav #hamburger_button {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (min-width:601px) {
  .mobile-menu {
    display: none;
  }
}




/*Informaction*/
/* .info {} */

/*Cv Downlode*/
.Downlode_btn {
  background: #c670e0;
  background-image: -webkit-linear-gradient(top, #c670e0, #a314cf);
  background-image: -moz-linear-gradient(top, #c670e0, #a314cf);
  background-image: -ms-linear-gradient(top, #c670e0, #a314cf);
  background-image: -o-linear-gradient(top, #c670e0, #a314cf);
  background-image: linear-gradient(to bottom, #c670e0, #a314cf);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  padding: 15px 35px 11px 40px;
  text-decoration: none;
}

.Downlode_btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  text-decoration: none;
}